.checkbox {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: left;
}

.checkbox label {
  display: inline-block;
  color: var(--app-gold-color);
  cursor: pointer;
  position: relative;
  text-wrap: nowrap;
}

.checkbox label .name {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.checkbox input[type="checkbox"]:checked + label .name:after {
  border-top: 1px solid var(--app-gold-color);
  position: absolute;
  content: "";
  right: 0;
  top: 65%;
  left: 0;
}

.checkbox label span:not(.name) {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  transform-origin: center;
  border: 2px solid var(--app-gold-color);
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  transition:
    background-color 150ms 200ms,
    transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.checkbox label span:not(.name):before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: var(--app-gold-color);
  position: absolute;
  transform: rotate(45deg);
  top: 13px;
  left: 9px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
.checkbox label span:not(.name):after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: var(--app-gold-color);
  position: absolute;
  transform: rotate(305deg);
  top: 16px;
  left: 10px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
.checkbox label:hover span:not(.name):before {
  width: 5px;
  transition: width 100ms ease;
}
.checkbox label:hover span:not(.name):after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox input[type="checkbox"]:checked + label span:not(.name) {
  background-color: black;
  transform: scale(1.25);
}
.checkbox input[type="checkbox"]:checked + label span:not(.name):after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox input[type="checkbox"]:checked + label span:not(.name):before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox input[type="checkbox"]:checked + label:hover span:not(.name) {
  background-color: #333;
  transform: scale(1.25);
}
.checkbox input[type="checkbox"]:checked + label:hover span:not(.name):after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox input[type="checkbox"]:checked + label:hover span:not(.name):before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
